@model dynamic

@{
    ViewBag.Title = string.Format("About - {0}", TheFlow.Site.Settings.SiteName);
    ViewBag.Description = TheFlow.Site.Settings.SiteDescription;
    ViewBag.Keywords = TheFlow.Site.Settings.SiteKeywords;
    Layout = "~/Views/shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        loader.jqueryCallback.push(function () {
            $(".nav li").removeClass("active");
            $(".nav li:eq(1)").addClass("active");
        });

        loader.completeCallback.push(function () {
            $('#sidebar').affix({
                offset: {
                    top: 90
                }
            });
        });
    </script>
}

<div class="row">
    <div class="col-md-3 uk-width-medium-1-4 hidden-sm hidden-xs">
        <div id="sidebar" class="panel panel-default">
            <ul class="nav nav-pills nav-stacked" data-uk-nav="">
                <li><a href="#Info" data-uk-smooth-scroll="">What is TheFlow?</a></li>
                <li><a href="#Features" data-uk-smooth-scroll="">Features</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div id="Info">
            <div class="jumbotron text-center">
                <h1>What is TheFlow?</h1>
            </div>
            <div class="text-center">
                <h3><strong>TheFlow is an Open Source Question and Answer site inspired by <a href="http://www.stackoverflow.com">StackOverflow</a>.</strong></h3>
                <p>
                    TheFlow is designed to be mobile friendly by using powerful front end frameworks that make the design process easier. By leveraging industry standards, TheFlow provides powerful interoperability features that ensure a smooth user experience.
                </p>
            </div>
        </div>
        <div id="Features">
            <h2 class="panel">Features (Planned and Implemented)</h2>
            <p>
                Many of the features are taken from StackOverflow, but unlike other similar projects, TheFlow changes and extends on certain features to provide a unique user experience.
            </p>
            <p>
                Below are several of the currently implemented features on TheFlow.
            </p>
            <ul>
                <li>Login with OpenID
                            <ul>
                                <li>This allows us to identify users without handling passwords
                                </li>
                            </ul>
                </li>
                <li>Content authoring with markdown syntax 
                            <ul>
                                <li>Used on Questions, Answers, and Comments</li>
                            </ul>
                </li>
                <li>Reputation based on the StackOverflow model
                            <ul>
                                <li>Up votes on answers are worth 10 points</li>
                                <li>Up votes on questions are worth 5 points</li>
                                <li>Accepted answers are worth 15 points</li>
                                <li>All down votes are worth -2 points</li>
                            </ul>
                </li>
            </ul>
            <p class="uk-text-center">TheFlow's goal is to provide a website that is easily ported into different Q&A environments.</p>
        </div>
    </div>
</div>
