@import "./foundation/scss/foundation.scss";

.question-stats {

	& > ul{
		margin-top: 1em;
		margin-bottom: 0;
		& > *:first-child > .button{
			border-bottom-left-radius: 0px !important;
			-webkit-border-bottom-left-radius: 0px !important;
			margin-bottom: 0;
		}
		& > *:last-child > .button{
			border-bottom-right-radius: 0px !important;
			-webkit-border-bottom-right-radius: 0px !important;
			margin-bottom: 0;
		}
	}
	& > a{
		@extend button;
		margin-left: -1px;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-webkit-border-bottom-right-radius: 3px;
		width: 99.5%;
	}
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.answers-stat {
	color: #777;
}

.wrap {
	word-wrap: break-word;
}

body {
    padding-top: 70px;
}

.main {
    padding-top: 30px;
}

.full-width {
    width: 100%;
}

.full-height {
	height: 100%;
}

blockquote {
    background-color: #eee;
    border-left: 1em solid #333;
}

.transparent {
    background-color: transparent;
}

.button-group.vertical > *:first-child, .button-group.vertical > *:first-child > a, .button-group.vertical > *:first-child > button, .button-group.vertical > *:first-child > .button {
    margin-bottom: 0px;
}

.button-group.vertical > *:last-child, .button-group.vertical > *:last-child > a, .button-group.vertical > *:last-child > button, .button-group.vertical > *:last-child > .button {
    margin-top: 0px;
}

.button-group.vertical > *, .button-group.vertical > * > a, .button-group.vertical > * > .button, .button-group.vertical > * > button {
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;
	line-height: inherit;
}

.button-group.radius.vertical > *:first-child, .button-group.radius.vertical > *:first-child > a, .button-group.radius.vertical > *:first-child > button, .button-group.radius.vertical > *:first-child > .button {
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0px;
    margin-bottom: 0px;
}

.button-group.radius.vertical > *:last-child, .button-group.radius.vertical > *:last-child > a, .button-group.radius > *:last-child > button, .button-group.radius.vertical > *:last-child > .button {
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-topright: 0px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.button-group.vertical {
    margin-bottom: 1.25em;
}

@media only screen and (min-width: 1280px) {
    /*implements medium button style when the screen is medium or up*/
    .medium-on-medium-up.button {
		@include button-size;
    }

    /*implements tiny button style when the screen is medium or up*/
    .tiny-on-medium-up.button {
        @include button-size($button-tny);
    }

	/*implements small button style when the screen is medium or up*/
    .small-on-medium-up.button {
        @include button-size($button-sml);
    }

	/*implements large button style when the screen is medium or up*/
    .large-on-medium-up.button {
        @include button-size($button-lrg);
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
	/*implements small button style when the screen is medium*/
    .small-on-medium.button {
        @include button-size($button-sml);
    }

    /*implements medium button style when the screen is medium*/
    .medium-on-medium.button {
        @include button-size;
    }

    /*implements tiny button style when the screen is medium*/
    .tiny-on-medium.button {
        @include button-size($button-tny);
    }

	/*implements large button style when the screen is medium*/
    .large-on-medium.button {
        @include button-size($button-lrg);
    }
}

@media only screen and (min-width: 1440px) {
	/*implements small button style when the screen is large*/
    .small-on-large.button {
        @include button-size($button-sml);
    }

     /*implements tiny button style when the screen is small*/
    .tiny-on-large.button {
        @include button-size($button-tny);
    }

    /*implements medium button style when the screen is medium or up*/
    .medium-on-large.button {
        @include button-size;
    }

	/*implements large button style when the screen is large*/
    .large-on-large.button {
        @include button-size($button-lrg);
    }
}

@media only screen and (max-width: 768px) {
    /*implements tiny button style when the screen is small*/
    .tiny-on-small.button {
         @include button-size($button-tny);
    }

	/*implements small button style when the screen is small*/
    .small-on-small.button {
        @include button-size($button-sml);
    }

    /*implements medium button style when the screen is small*/
    .medium-on-small.button {
        @include button-size;
    }

	/*implements large button style when the screen is small*/
    .large-on-small.button {
        @include button-size($button-lrg);
    }

    /*implements vertical button bar styling on mobile devices*/
    .button-group {
        margin-bottom: 1.25em;
    }

        .button-group.radius > *:first-child, .button-group.radius > *:first-child > a, .button-group.radius > *:first-child > button, .button-group.radius > *:first-child > .button {
            -moz-border-radius-topleft: 3px;
            -moz-border-radius-topright: 3px;
            -moz-border-radius-bottomleft: 3px;
            -webkit-border-top-left-radius: 3px;
            -webkit-border-top-right-radius: 3px;
            -webkit-border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom-left-radius: 0px;
            margin-bottom: 0px;
        }

        .button-group.radius > *:last-child, .button-group.radius > *:last-child > a, .button-group.radius > *:last-child > button, .button-group.radius > *:last-child > .button {
            -moz-border-radius-bottomleft: 3px;
            -moz-border-radius-bottomright: 3px;
            -moz-border-radius-topright: 0px;
            -webkit-border-bottom-left-radius: 3px;
            -webkit-border-bottom-right-radius: 3px;
            -webkit-border-top-right-radius: 0px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 0px;
            margin-top: 0px;
        }

        .button-group > *, .button-group > * > a, .button-group > * > .button, .button-group > * > button {
            margin-bottom: 0px;
            margin-top: 0px;
            width: 100%;
        }
}
