body {
    padding-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-x: hidden;
}

.full-height-line {
    height: 1.428571429em;
}

.wmd-button > span {
    background-image: url(images/markdown_editor/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-button-bar {
    width: 100%;
}

.wmd-button-row {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0px;
    height: 20px;
}

.wmd-spacer {
    width: 1px;
    height: 20px;
    margin-left: 14px;
    position: absolute;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-spacer1 {
    left: 50px;
}

.wmd-spacer2 {
    left: 175px;
}

.wmd-spacer3 {
    left: 300px;
}

.wmd-prompt-background {
    background-color: Black;
}

.wmd-prompt-dialog {
    border: 1px solid #999999;
    background-color: #F5F5F5;
}

    .wmd-prompt-dialog > div {
        font-size: 0.8em;
        font-family: arial, helvetica, sans-serif;
    }


    .wmd-prompt-dialog > form > input[type="text"] {
        border: 1px solid #999999;
        color: black;
    }

    .wmd-prompt-dialog > form > input[type="button"] {
        border: 1px solid #888888;
        font-family: trebuchet MS, helvetica, sans-serif;
        font-size: 0.8em;
        font-weight: bold;
    }

/* Enable dropdown hover */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

#preview-text {
    color: #858585;
    float: left;
}

#edit-user-area {
    padding-top: 1em;
    padding-bottom: 1em;
}

.wmd-input {
    max-width: 100%;
    min-height: 16em;
}

.input-field {
    padding: 4px;
}

.comment-container {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .comment-container {
        margin-bottom: 7px;
    }
}

.input-margin {
    margin-top: 4px;
    margin-bottom: 4px;
}

.editor-preview {
    margin-top: 10px;
    padding: 15px;
    min-height: 45px;
    word-wrap: break-word;
    white-space: normal;
}

.votes {
    font-size: 20px;
}

.btn.up-vote {
    font-size: 20px;
}

.btn.down-vote {
    font-size: 20px;
}

.btn.up-vote:hover {
    color: #aea79f;
}

.btn.down-vote:hover {
    color: #aea79f;
}

.post-row {
    padding-top: 15px;
}

.post-body {
    padding-top: 15px;
    border-left: 1px solid #eee;
}

.width-70 {
    width: 70%;
}

.width-80 {
    width: 80%;
}

.width-90 {
    width: 90%;
}

.width-60 {
    width: 60%;
}

.width-50 {
    width: 50%;
}

.main-content {
    margin-top: 50px;
}

blockquote {
    font-style: normal;
    background-color: #eee;
    border-left: 10px solid #525252;
    padding: 10px 10px 10px 10px;
}

.content-padding {
    padding: 5px;
}

.full-width {
    width: 100%;
}

.radius {
    border-radius: 4px;
    border-width: 1px;
    padding: 4px;
}

.wmd-input {
    width: 100%;
    min-height: 16em;
    max-width: 100%;
    min-width: 100%;
}

.vote-active {
    background-color: #faa732;
}

    .vote-active:hover {
        background-color: #b47722;
    }

.question-preview {
    line-height: 1.5;
    font-size: smaller;
    overflow: hidden;
    max-height: 3em;
}

.parsley-error {
    background-color: #ff9a97;
}

ul.parsley-error-list {
    list-style: none;
    padding-left: 0;
}

    ul.parsley-error-list > li {
        border: 1px solid red;
        border-radius: 4px;
        color: black;
        padding: 5px;
        background-color: #ff4949;
    }

#Features {
    margin-top: 3em;
}
