@model TheFlow.Api.Entities.User

@{
    ViewBag.Title = string.Format("Welcome - {0}", TheFlow.Site.Settings.SiteName);
    Layout = "~/Views/shared/_Layout.cshtml";
}

<h2>Welcome</h2>
@if (Model != null)
{
    <p>Hello @Model.FirstName!</p>
}
