@{
    ViewBag.Title = "Create";
}
@section head
{
    <link href="@Helpers.GetCodeStylePath()" type="text/css" rel="stylesheet" />
}
@section Scripts
{
    <script src="~/scripts/pagedown/Markdown.Converter.js"></script>
    <script src="~/scripts/pagedown/Markdown.Editor.js"></script>
    <script src="~/scripts/pagedown/Markdown.Sanitizer.js"></script>
    <script src="~/scripts/prettyprint/prettify.js"></script>
}
@section OnPageLoadFunction
{
var converter = new Markdown.getSanitizingConverter();

            var editor = new Markdown.Editor(converter);

            //refresh prettyprint when the preview is refreshed
            editor.hooks.chain("onPreviewRefresh", function () {
                $("pre").addClass("prettyprint");
                $("code").addClass("prettyprint");
                //$("code").css("background-color", '#eee');
                prettyPrint();
            });

            editor.run();
}
<h2>Ask a Question</h2>

<div class="row">
    <div class="columns large-12">
        @using (Html.BeginForm("Create", "Questions", FormMethod.Post, new { data_abide = "" }))
        {
            @Html.AntiForgeryToken();
            <input id="Title" type="text" placeholder="Title" name="Title" autocomplete="off" required />
            <small class="error">Please provide a Title for your question.</small>
            <textarea class="wmd-input" id="wmd-input" name="Body" style="max-width: 100%; min-height: 16em;"></textarea>
            <div class="panel radius" style="background-color: white;">
                <h3 id="title-preview"></h3>
                <div id="wmd-preview"></div>
            </div>
            <button type="submit">Ask Question</button>
        }
    </div>
</div>
