@model TheFlow.API.Entities.Question

@{
    ViewBag.Title = "Question";
}



<link href="@Helpers.GetCodeStylePath()" type="text/css" rel="stylesheet" />

@section Scripts
{
    <script src="~/scripts/pagedown/Markdown.Converter.js"></script>
    <script src="~/scripts/pagedown/Markdown.Sanitizer.js"></script>
    <script src="~/scripts/prettyprint/prettify.js"></script>
    <script src="~/scripts/prettyprint/run_prettify.js"></script>

    <script type="text/javascript">
        function highlightCode() {
            $("pre").addClass("prettyprint");
            $("pre").css("background-color", "#eee");
            $("code").addClass("prettyprint");
            $("code").css("background-color", "#eee");
            prettyPrint();
        }

        var textBody = @(new HtmlString(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.Body))) ;

        var converter = new Markdown.getSanitizingConverter();

        $(".text-body").html(converter.makeHtml(textBody));

        highlightCode();
    </script>
}

<h2>Question</h2>
<h2>@Model.Title</h2>

<div class="panel" style="background-color: white">
    <div class="text-body"></div>
</div>
