@model dynamic

@{
    ViewBag.Title = "TheFlow";
    Layout = "~/Views/shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $(".nav li").removeClass("active");
            $(".nav li:eq(0)").addClass("active");
        });
    </script>
}
<div class="container">
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="panel text-center radius">
        <h1>Welcome to TheFlow!</h1>
        <p>TheFlow is an Open Source Question And Answer site inspired by <a href="http://www.stackoverflow.com">StackOverflow</a>. Feel free to <a href="https://github.com/KallynGowdy/TheFlow">Fork Us</a> at Github!</p>
        @Html.ActionLink("Learn More", "Learn", "Home", null, new { @class = "button success" })
    </div>
</div>
<div class="row">
    <div class="large-4 columns text-center">
        <h2>Questions</h2>
        <p>Want to help? Support the community by answering questions.</p>
        <p><a class="button success" href="~/Questions">View Questions &raquo;</a></p>
    </div>
    <div class="large-4 columns text-center">
        <h2>Develop</h2>
        <p>Do you want to help us develop TheFlow? Just <a href="https://github.com/KallynGowdy/TheFlow/fork">fork TheFlow</a>, make changes, <a href="https://github.com/KallynGowdy/TheFlow/pulls">then submit a pull request</a> and we would <strong>love</strong> to review them. Be sure the read the <a href="#">Code Design</a> documents first!</p>
        <p>@Html.ActionLink("Get Started »", "Index", "Develop", null, new { @class = "button success" })</p>
    </div>
    <div class=" large-4 columns text-center">
        <h2>Bugs</h2>
        <p>Found a Bug? <a href="https://github.com/KallynGowdy/TheFlow/issues">Submit an issue on our project page</a> and we'll get to it as quick as possible.</p>
        <p><a class="button success" href="https://github.com/KallynGowdy/TheFlow/issues">Submit a bug &raquo;</a></p>
    </div>
</div>
