@model dynamic

@{
    ViewBag.Title = string.Format("Home - {0}", TheFlow.Site.Settings.SiteName);
    Layout = "~/Views/shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        loader.jqueryCallback.push(function () {
            $(".nav li").removeClass("active");
            $(".nav li:eq(0)").addClass("active");
        });
    </script>
}

<div>
    <div>
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1><strong>Welcome to TheFlow!</strong></h1>
            <p>TheFlow is an Open Source Question And Answer site inspired by <a href="http://www.stackoverflow.com">StackOverflow</a>. Feel free to <a href="https://github.com/KallynGowdy/TheFlow">Fork Us</a> at Github!</p>
            <a href="~/About" class="btn btn-primary">Learn More</a>
        </div>
    </div>
    <div class="row" data-uk-grid-margin="">
        <div class="col-md-4 text-center">
            <h2 class="uk-text-success">Questions</h2>
            <p>Want to help? Support the community by answering questions.</p>
            <p><a class="btn btn-primary" href="~/Questions">View Questions &raquo;</a></p>
        </div>
        <div class="col-md-4 text-center">
            <h2 class="uk-text-success">Develop</h2>
            <p>Do you want to help us develop TheFlow? Just <a href="https://github.com/KallynGowdy/TheFlow/fork">fork TheFlow</a>, make changes, <a href="https://github.com/KallynGowdy/TheFlow/pulls">then submit a pull request</a> and we would <strong>love</strong> to review them. Be sure the read the <a href="https://github.com/KallynGowdy/TheFlow#code-style">Code Design</a> documents first!</p>
            <p><a href="https://github.com/KallynGowdy/TheFlow/fork" class="btn btn-primary">Get Started</a></p>
        </div>
        <div class="col-md-4 text-center">
            <h2 class="uk-text-success">Bugs</h2>
            <p>Found a Bug? <a href="https://github.com/KallynGowdy/TheFlow/issues">Submit an issue on our project page</a> and we'll get to it as quick as possible.</p>
            <p><a class="btn btn-primary" href="https://github.com/KallynGowdy/TheFlow/issues">Submit a bug &raquo;</a></p>
        </div>
    </div>
</div>
