<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://kallyngowdy-001-site1.smarterasp.net/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://kallyngowdy-001-site1.smarterasp.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>kallyngowdy-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\kallyngowdy-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=SQL5004.Smarterasp.net;Initial Catalog=DB_9AAD0A_theflow;User ID=DB_9AAD0A_theflow_admin;Password=CannedBeans.*" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TheFlow.Api.Entities.DbContext, TheFlow.Site" MigrationConfiguration="TheFlow.Api.Migrations.Configuration, TheFlow.Site" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DbContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL5004.Smarterasp.net;Initial Catalog=DB_9AAD0A_theflow;User ID=DB_9AAD0A_theflow_admin;Password=CannedBeans.*</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>