@{
    ViewBag.Title = string.Format("Develop - {0}", TheFlow.Site.Settings.SiteName);
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $(".nav li").removeClass("active");
            $(".nav li:eq(2)").addClass("active");
        });
    </script>
}

<div class="jumbotron">
    <h2 class="text-center">Join the community, help develop TheFlow.</h2>
</div>
