@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/shared/_Layout.cshtml";
}

@section NavBarRight
{
    <!-- Alternative navigation -->
    <li class="has-dropdown">
        <a href="#">Navigate</a>
        <ul class="dropdown">
            <li class="has-dropdown">
                <a href="#">FAQ</a>
                <ul class="dropdown">
                    @FAQNav()
                </ul>
                <li />
        </ul>
    </li>
}

@helper FAQNav()
{
    <li>
        <a href="#">Why</a>
    </li>
}

<div class="row">
    <div class="large-4 columns">
        <div class="section-container accordion" data-section="accordion">
            <section>
                <p class="title" data-section-title><a href="#">Basic Information</a></p>
                <div class="content" data-section-content>
                    <p><a href="~/Home/Learn" class="active">What is TheFlow?</a></p>
                </div>
            </section>
            <section>
                <p class="title" data-section-title><a href="#">FAQ</a></p>
                <div class="content" data-section-content>
                    <ul class="side-nav">
                        @FAQNav()
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <div class="large-8 columns">
        <div class="panel">
            <h1>Info</h1>
        </div>
    </div>
</div>
